.vertical-timeline::before {
  background: #424242;
  height: 100%;
}

.vertical-timeline {
  margin-left: -19px;
}

@media only screen and (max-width: 950px) {
  .vertical-timeline {
    margin-left: -19px;
  }
}
